<template>
  <v-card
    class="d-flex align-center justify-center"
    tile
    flat
    height="100%"
  >
    <v-card
      tile
      flat
    >
      <v-row class="d-flex justify-center">
        <h3>Saldo atual</h3>
      </v-row>
      <v-row  class="mt-4 mb-4">
        <h1 class="text-center">
          R$ {{ $store.getters.balancePrice | format-price }}
        </h1>
      </v-row>
    </v-card>
  </v-card>
</template>

<script>
export default {
  name: 'Balance',
  data: () => ({}),
  async mounted() {
    if (this.$store.getters.updateBalance) {
      const rawResponse = await fetch(`${this.$apiUrl}/balance`, {
        method: 'GET',
        headers: {
          Accept: 'application/json',
          'Content-Type': 'application/json',
          Authorization: this.$authorization,
        },
      });
      const { balance } = await rawResponse.json();
      this.$store.commit('changeBalance', balance);
      this.$store.commit('changeUpdateBalance');
    }
  },
};
</script>
