<template>
  <div>
    <v-card
      class="d-flex align-center justify-center mb-6 mt-4"
      tile
      flat
    >
      <h3>Extrato</h3>
    </v-card>
    <v-card
      class="mb-6"
      tile
      flat
      v-for="(transaction, index) in transactions"
      :key="index"
    >
      <v-row>
        <v-col class="ml-2" align="left">{{ transaction.type | payment-type-to-string }}</v-col>
        <v-col align="center">{{ transaction.created_at | format-date }}</v-col>
        <v-col class="mr-2" align="right">R$ {{ transaction.value | format-price }}</v-col>
      </v-row>
      <v-divider></v-divider>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'Extract',
  components: {},
  data: () => ({ transactions: [] }),
  async mounted() {
    const rawResponse = await fetch(`${this.$apiUrl}/transactions`, {
      method: 'GET',
      headers: {
        Accept: 'application/json',
        'Content-Type': 'application/json',
        Authorization: this.$authorization,
      },
    });
    const transactions = await rawResponse.json();
    this.transactions = transactions;
  },
};
</script>
