<template>
  <v-card
    class="d-flex align-center justify-center"
    tile
    flat
    height="100%"
  >
    <transaction-form
      :type="type"
      :title="title"
      @set-notification="setNotification"
    />
  </v-card>
</template>

<script>
import TransactionForm from '@/components/TransactionForm.vue';

export default {
  name: 'Payment',
  components: {
    TransactionForm,
  },
  data: () => ({
    type: 'payment',
    title: 'pagamento',
  }),
  methods: {
    setNotification(e) {
      this.$emit('update-notification', e);
    },
  },
};
</script>
