<template>
  <v-snackbar
    v-model="notification.alert"
    :timeout="notification.timeout"
    :color="notification.color"
  >
    {{ notification.message }}
    <template v-slot:action="{ attrs }">
      <v-btn
        text
        v-bind="attrs"
        @click="notification.alert = false"
      >
        Fechar
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script>
export default {
  name: 'AlertComponent',
  props: {
    notification: {
      type: Object,
      required: true,
    },
  },
};
</script>
