<template>
  <v-app-bar app bottom flat>
    <v-bottom-navigation
      :value="activeBtn"
      color="primary"
      app
    >
      <v-btn to="/">
        <span>Home</span>
        <v-icon>mdi-home</v-icon>
      </v-btn>

      <v-btn to="/deposit">
        <span>Depósito</span>
        <v-icon>mdi-bank-transfer-in</v-icon>
      </v-btn>

      <v-btn to="/payment">
        <span>Pag</span>
        <v-icon>mdi-barcode-scan</v-icon>
      </v-btn>

      <v-btn to="/discharge">
        <span>Resgate</span>
        <v-icon>mdi-bank-transfer-out</v-icon>
      </v-btn>

      <v-btn to="/extract">
        <span>Extrato</span>
        <v-icon>mdi-file-chart</v-icon>
      </v-btn>
    </v-bottom-navigation>
  </v-app-bar>
</template>

<script>
export default {
  name: 'AppFooterComponent',
  data: () => ({
    activeBtn: 0,
  }),
};
</script>
