<template>
  <v-card flat>
    <v-row class="justify-center">
      <h3>Realizar {{ title }}</h3>
    </v-row>
    <v-row  class="mt-6 mb-6">
      <currency-input
        class="text-center"
        v-model="value"
      />
    </v-row>
    <v-row class="justify-center">
      <v-btn
        rounded
        color="primary"
        v-on:click="submitTransaction(value, type)"
      >
        Fazer transação
      </v-btn>
    </v-row>
  </v-card>
</template>

<style scoped>
input {
  border-bottom: 1px solid;
  border-color: #e02b57;
  font-size: 24px;
}

input:focus {
  outline: #e02b57;
}
</style>

<script>
export default {
  name: 'TransactionFormComponent',
  props: {
    title: {
      type: String,
      required: true,
    },
    type: {
      type: String,
      required: true,
    },
  },
  data: () => ({ value: 0 }),
  methods: {
    async submitTransaction() {
      if (this.value <= 0) {
        this.$emit('set-notification', {
          alert: true,
          color: 'red',
          message: 'Valor da transação deve ser maior que R$ 0,00.',
        });
        return;
      }

      const rawResponse = await fetch(`${this.$apiUrl}/transactions`, {
        method: 'POST',
        headers: {
          Accept: 'application/json',
          'Content-Type': 'application/json',
          Authorization: this.$authorization,
        },
        body: JSON.stringify({ value: this.value, type: this.type }),
      });

      if (rawResponse.status === 201) {
        this.$emit('set-notification', {
          alert: true,
          color: 'green',
          message: 'Transação efetuada com sucesso.',
        });
        this.value = 0;
        this.$store.commit('changeUpdateBalance');
        return;
      }

      if (rawResponse.status === 422) {
        this.$emit('set-notification', {
          alert: true,
          color: 'red',
          message: 'Saldo insuficiente.',
        });
        this.value = 0;
        return;
      }

      this.$emit('set-notification', {
        alert: true,
        color: 'yellow',
        message: 'Indisponibilidade de transação, tente novamente mais tarde.',
      });
    },
  },
};
</script>
