<template>
  <v-app>
    <app-header />
    <v-main>
      <alert :notification="notification" />
      <router-view @update-notification="updateNotification" />
    </v-main>
    <app-footer />
  </v-app>
</template>

<script>
import AppFooter from '@/components/AppFooter.vue';
import AppHeader from '@/components/AppHeader.vue';
import Alert from '@/components/Alert.vue';

export default {
  name: 'App',

  components: {
    AppFooter,
    AppHeader,
    Alert,
  },

  data: () => ({
    notification: {
      message: '',
      alert: false,
      timeout: 5000,
      color: 'green',
    },
  }),
  methods: {
    updateNotification(e) {
      this.notification = e;
    },
  },
};
</script>
